.turivius-card.rs-panel {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(18, 59, 113, 0.05);
  border-radius: 8px;
  padding: 0;
  margin-bottom: 16px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}
.feedback {
  display: flex;
  align-items: center;
}
.feedback-text {
  font-size: 14px;
  font-weight: normal;
  color: #f37e00;
}
.footer-icon svg {
  background: none;
  width: 56px;
  height: 56px;
  padding: 0 0 0 16px;
}
.rs-btn:hover,
.rs-btn:active,
.rs-btn:focus {
  background: none;
}

.title-card {
  font-size: 16px;
  font-weight: 700;
  color: #123b71;
  line-height: 18px;
  /* padding-bottom: 16px; */
}

.rs-panel-body {
  padding: 24px;
}

.content-title {
  font-size: 16px;
  font-weight: bold;
  color: #3a3a3a;
}
.content-text {
  font-size: 14px;
  font-weight: normal;
  color: #3a3a3a;
  margin-top: 8px;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info span {
  font-size: 16px;
  font-weight: 400;
  color: #4965a0;
  margin-top: 16px;
}

.card-footer {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 16px;
}
.links {
  padding-right: 64px;
}
.links a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.links svg {
  height: 14px;
  color: #f37e00;
  margin-right: 8px;
}
.links span {
  font-size: 14px;
  font-weight: bold;
  color: #f37e00;
}
